@charset "UTF-8";

/* HEIGHT 100% */
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size:16px ;
}

.bloco {
  min-height: 100%;
  padding-top: 94px;
}

/* HEADER */
.home{
    background-image: url(../img/back.jpg);
    height: 100vh;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-title{
    display: inline-block;
    font-size: 1.5em;
    margin:.2em 0 0 0;
}

/* MENU */
.navbar{
    background-color:transparent;
}

.icons{
  position: relative;
  top:.2em;
  right: .3em;
}

/* BANNER */
.banner{
  padding: 3em;
  color: #fff;
  text-align: center;
}

.main-title{
  text-shadow: 6px 2px 3px black;
  font-size: 2.5em;
}

.main-subtitle{
  font-style: italic;
  font-size: 1.5em;
    text-shadow: 2px 2px 1px black;
}

/* SERVICES */
.services{
  background-color:black;
  height: 100%;
}

.services-title{
  
}

.box{
  background: #ccc;
  width: 32%;
  margin-left: 1%;
  display: block;
}

.services-img{
  padding-top: 2em;
}

/*SKILLS*/
.skills-title{
  margin: 0 0 1em 0;
}

.skills-title::after{
  content: ' ';
  display: block;
  border: 2px solid rgb(32, 32, 78);
  margin: 0 auto;
  width: 150px;
}

.skills{
  background:#ccc;
  height: 100%;
  font-size:1.3em;
  font-weight: bold;
}

.skills-destaque{
  background:#9181ec;
  box-shadow: 2px 3px 5px transparent;
  transition: all 1s ease-out ;
}

.group-itens li{
  display: inline-block;
  margin-right: 2em;
  border: 3px solid black;
  padding:.5em 2em;
  margin:.5em;
}

.group .group-itens:last-child{
  margin-bottom: 0;
  padding-bottom: 3em;
}

.skills-destaque:hover{
  margin-top: 1em;
  animation: crescer 1s alternate;
  background:rgba(0, 0, 0,.8);
  box-shadow:2px 1px 10px black;
  color:#fff;
}

@keyframes crescer{

  100%{transform: scale(1.1);}
}
  

/* SCROLL SETA */
.setaScroll{
   border: solid #fff; /* cor da seta */
   border-width: 0 5px 5px 0; /* 5px = espessura da seta */
   padding: 7px; /* tamanho da seta */
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   opacity: .3;
   animation:down 1.3s linear infinite;
   position: relative;
   top: 0px;
}

@keyframes down{
   0% {
  top: 0px;
  opacity: 0;
 }
 50%{
   top: 8px;
   opacity: 0.5;
 }
 100% {
  top: 20px;
  opacity: 1;
 }
}

/* CUSTOM */
.nav{
    height: 94px;
    line-height: 94px;
}

nav.nav-extended .nav-wrapper {
  min-height: 94px;
  height: auto;
}

.navbar-fixed {
  position: absolute;
  height: 94px;
  z-index: 997;
}

.sidenav{
  background:url(../img/webb-dark.png);
}

.sidenav li>a{
    color:rgb(158, 158, 158);
    font-weight: 700;
}

nav ul a {
  text-shadow: 5px 2px 4px black;
  font-size: 1.2rem;
}

nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons header{
  display: block;
  font-size: 24px;
  height: 94px;
  line-height: 94px;
  margin-top: 1em;
}

.card{
  background-color:#ccc;
  border-radius: 2em;
}

.card-content > h3{
  font-size: 1.5em;
  padding:0 0 .2em 0;
  margin: 0;
}

/* GRID */
.row{
  margin-bottom:0;
  padding-bottom: 5em;
}


/*MEDIA*/
@media only screen and (max-width: 480px) {
  .main-title{
    font-size: 2em;
  }

  .main-subtitle{
    font-size: 1.3em;
  }

  .banner{
    padding: 2em 0 0 0;
  }

}

@media only screen and (min-width: 601px) {
    .header-title{
        font-size: 2rem;
    }

    .main-subtitle{
      font-size:1.8em;
    }

    .banner{
      padding:1em 0 0 0;
    }
}

@media only screen and (min-width: 993px) {
     .header-title{
        font-size: 2rem;
    }

    .banner{
  padding: 3em;
    }

    .main-title{
    font-size: 4em;
    }

    .main-subtitle{
      font-size:2em;
    }

    .container{
      width: 90%;
    }

    .group-itens{
       margin-top: 0;
    }

    .row .col.l4 {
    width: 33.33%;
    }
}


